.matches {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.match {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.match:not(:first-child) {
  border-top: 1px solid gray;
}

.home-team,
.away-team {
  height: 100%;
  width: 33%;
  align-items: center;
  display: flex;
}

.home-team {
  justify-content: flex-start;
}

.away-team {
  justify-content: flex-end;
}

.home-team span {
  margin-left: 0.5rem;
}

.away-team span {
  margin-right: 0.5rem;
}

.home-team img,
.away-team img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.score {
  width: 33%;
  text-align: center;
}

.home-team-score,
.away-team-score {
  display: inline-block;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-inline-flexbox;
  width: 1em;
  height: 1em;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(208,2,27,1.0);
  color: #fff;
  font-weight: 700;
  position: relative;
  transition: background .33s,color .33s;
}

.home-team-score {
  margin-right: 0.5em;
}

.match.is-finished .home-team-score,
.match.is-finished .away-team-score {
  background: rgba(208,2,27,0);
}
